{% extends 'main/layout.html'%}
{% load static %}
{% block title%}
О нас
{% endblock%}

{% block main%}
<div class="about-us">
    <div class="about-description">
        <p style="text-indent: 25px;">     Если вы думаете о том, что подарить близкому человеку на праздник или в
            качестве памятного сувенира, то преподнесенная в подарок эксклюзивная авторская игрушка ручной работы это
            то что никого не оставит равнодушным.</p><br>
        <p style="text-indent: 25px;">    Все наши изделия создаются из качественных экологичных тканей. Мы используем
            прочные, приятные на ощупь и безопасные материалы. Игрушки наполнены легким гипоаллергенным холлофайбером,
            благодаря чему они отлично сохраняют форму, не боятся стирок и не притягивают пыль.</p><br>
        <p style="text-indent: 25px;"> Авторская игрушка будет не только украшать собой интерьер, радуя хозяев и их
            гостей. Неся в себе магическую силу, такая вещь положительно влияет на жизнь всех домочадцев.
            Ведь такие игрушки, к примеру, не только развлекают детишек, но помогают им почувствовать творчество и
            развивают фантазию.</p><br>
        <p style="text-indent: 25px;">    Наши изделия станут прекрасным подарком или дополнением к нему на любое
            событие – свадьбу, день рождения, помолвку и т. д. Конечно, не обязательно ждать повода, чтобы порадовать
            близких. Не забудьте и о себе - любой товар из нашего каталога станет достойным пополнением вашей
            коллекции или украшением дома.</p>
    </div>
    <div class="about-photo">
        <img src="{% static 'main/img/about.jpg' %}" style="height: calc(100vh - 150px)" >
    </div>
</div>
{% endblock%}