{% extends 'main/layout.html'%}

{% block title%}
Отзывы
{% endblock%}

{% block main%}
<div class="main-container">
    <div class="reviews">
        {%load custom_filters%}
        {% for review in reviews %}
        <div class="review">
            <div class="rating-result">
                {% for _ in review.mark|gold_range %}
                    <span class="active"></span>
                {% endfor %}
                {% for _ in review.mark|grey_range %}
                    <span></span>
                {% endfor %}
            </div>
            <h5>{{review.user}}  </h5>
            <p class="comm_date"> {{review.date}} </p>
            <p>{{review.body}}</p><br>
        </div>
        {% endfor %}
    </div>
    <form class="add_review" action="." method="post">
        <h5>{{user}}</h5>
        <div class="rating-area">
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5" title="Оценка «5»"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4" title="Оценка «4»"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3" title="Оценка «3»"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2" title="Оценка «2»"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1" title="Оценка «1»"></label>
        </div>
        {{form.body}}
        {% csrf_token %}
        <button class="custom-btn btn-13" type="submit">Добавить</button>
         {% for field, error in errors.items %}
        <p>{{error}}</p><br>
        {% endfor%}
    </form>
</div>
{% endblock%}